/* common shared styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;700;800&family=Poppins:wght@300;400;600;700;800&display=swap');

/* shared styles */

* {
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body {
    margin-left: 80px;
    margin-right: 50px;
    margin-top: 20px;
}

.text-primary {
    color: #FF5400;
}

/* nav style */
.div1 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-image {
    margin-top: 35px;
    width: 50px;
    height: 50px;
}


.nav-title {
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #424247;
    /* text-align: center; */
    font-family: Mulish;
    font-size: 15px;
    font-weight: 400;
}

/* banner section */
.bannerContainer {

    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    text-align: center;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 20px;
}

.bannerOverlay {
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

.bannerP {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.bannerH1 {
    font-size: 55px;
    width: 500px;
    color: white;
    font-weight: 800;
}

.import-section {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 16px;
}

.select-section {
    border: 0;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    width: 160px;
    height: 50px;
    padding-left: 15px;

}

.btn-primary {
    border: 0;
    border-radius: 8px;
    background: #FF5400;
    color: white;
    font-size: 16px;
    width: 160px;
    height: 50px;
    padding-left: 20px;
}

.features {
    margin-top: 80px;
    display: flex;
    gap: 70px;
}

.section-title {
    color: #131318;
    font-family: Mulish;
    font-size: 35px;
    font-style: normal;
    font-weight: 700px;
    line-height: normal;

}

.common-style {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.features li {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.feature-img {
    height: 50%;
    margin-left: 80px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.img-section-title,
.chosen-section-title {
    margin-top: 100px;
    color: #131318;
    font-family: Mulish;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 700px;
    line-height: normal;
}

.img-common-style,
.chosen-section-description {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    line-height: 26px;
}

.first-div {
    margin-top: 20px;
    display: flex;
}

.first-div img {
    width: 100%;
    margin-right: 20px;
}

.second-div {
    margin-top: 20px;
    display: flex;
}

.second-div img {
    width: 100%;
    margin-right: 20px;
}

.third-div {
    margin-top: 20px;
    display: flex;
}

.third-div img {
    width: 100%;
    margin-right: 20px;
}

.chosen-section-div1 {
    display: flex;
    gap: 20px;
}
/* chosen section */
.chosen-section-img{
    padding-top: 32px;
}

.chosen-section-div11 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding-left: 32px;
    padding-right: 50px;
    padding-bottom: 32px;
}

.chosen-section-div12 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    margin-right: 20px;
    padding-left: 32px;
    padding-right: 50px;
    padding-bottom: 32px;
}

.chosen-section-div2 {
    margin-left: 250px;
    align-content: center;
    margin-top: 20px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    width: 50%;
    padding-left: 32px;
    padding-right: 50px;
    padding-bottom: 32px;
    
}

.chosen-section-header {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
}

.chosen-section-paragraph {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}